<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Список NFC-меток</h1>

    <p>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
    </p>
        {% for card in cards %}

        <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'card_detail' id=card.id %}">
           Card ID {{card.id}}
        </a>
        <br> 
        {% comment %} TODO: Delete <br> after styles are set {% endcomment %}
        {% endfor %}
</body>

</html>