.edit-mode {
    background-color: #f0fdf4;
    border-left: 4px solid #4ade80;
}

.plant-card {
    transition: all 0.3s ease;
}

.plant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card_main {}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card_header_h2 {
    font-weight: 600;
    color: rgb(31 41 55);
    font-size: 1.5rem;
    line-height: 2rem
}

.card_header_btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: rgb(22 163 74);
    color: rgb(255 255 255);
    border-radius: 0.5rem
}

.card_header_btn:hover {

    background-color: rgb(21 128 61)
}

.card_header_btn_ico {
    width: 1rem;
    height: 1rem;
}

.card_main {
    background-color: rgb(249 250 251);
    padding: 1rem;
    border-radius: 0.5rem;
}

.card_form_label {
    display: block;
    color: rgb(55 65 81);
    margin-bottom: 0.25rem;
}

.card_form_textarea {
    width: 100%;
    padding: 1rem 1.25rem;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.25rem;
    font-size: 1rem;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.card_form_textarea:focus {
    outline: none;
    border-color: #22c55e;
    box-shadow: 0 0 0 2px #bbf7d0;
}

.card_form_bottom {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    gap: 1rem;
}

.card_form_button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.card_form_button-cancel {
    border-width: 1px;
    border-color: rgb(209 213 219);
    color: rgb(55 65 81);

}

.card_form_button-cancel:hover {
    background-color: rgb(243 244 246)
}

.card_form_button-save {
    background-color: rgb(22 163 74);
    color: rgb(255, 255, 255);
    background-color: rgb(21 128 61)
}